# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
*.5
*.5.ps
*.5so
*.8
*.8.ps
*.8so
*.cat5
*.cat8
*.ghtml
INSTALL
Makefile
Makefile.BSD
Makefile.BSD-dist
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.log
config.status
configure
configure.lineno
import.d
install-sh
missing
mkinstalldirs
newsyslog
newsyslog-[0-9]*-Preview.*
newsyslog.8.gz
newsyslog.8.html
newsyslog.8.html-dist
newsyslog.8.ps-dist
newsyslog.conf.5.gz
newsyslog.conf.5.html
newsyslog.conf.5.html-dist
newsyslog.conf.5.ps-dist
newsyslog.core
stamp-h
stamp-h.in
stamp-h1
