# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
*.5
*.5.ps
*.5so
*.8
*.8.ps
*.8so
*.cat5
*.cat8
INSTALL
Makefile
Makefile.BSD
Makefile.BSD-dist
Makefile.in
README.developers
aclocal.m4
config.cache
config.h
config.h.in
config.log
config.status
configure
import.d
install-sh
missing
mkinstalldirs
newsyslog
newsyslog.core
stamp-h
stamp-h.in
